body, html {
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    user-select: none;
    background-color: #F2F2F8;
}

.center {
    text-align: center;
    padding: 20px;
    width: 400px;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#timeInfo{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

#countdown {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    background-color: #FB7299;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 50px;
    transition: background 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#navigation_bar{
    text-align: center;
    position:absolute;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    top: 20px;
    height: 50px;
    width: 440px;

}

#information_bar {
    text-align: center;
    position:absolute;
    border-radius: 50px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    bottom: -150px;
    height: 100px;
    width: 440px;
    transition: bottom 0.7s ease;
}

button:hover {
    background-color: rgb(192, 80, 112);
}
